<app-menu-admin></app-menu-admin>
<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <div *ngIf="getOpcion()== 'crear-empleado' ">
        <app-new-empleado></app-new-empleado>
      </div>
      <div *ngIf="getOpcion()== 'ver-empleados'">
        <app-view-empleados></app-view-empleados>
      </div>
      <div *ngIf="getOpcion()== ''">
        <app-inicio-user></app-inicio-user>
      </div>
      <div *ngIf="getOpcion()== 'ver-papelera'">
        <app-papelera></app-papelera>
      </div>
    </div>
  </div>
</div>
