<br><br><br>
<table class="table table-responsive">
  <thead>
  <tr>
    <th scope="col">Nombre</th>
    <th scope="col">UserName</th>
    <th scope="col">Password</th>
    <th scope="col">Rol</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of usuarios">
    <td>{{item.name}}</td>
    <td>{{item.username}}</td>
    <td>{{ ocultarPassword(item.password) }}</td>
    <td>{{item.rol === 1 ? 'Administrador' : 'Empleado'}}</td>
    <td><button class="btn btn-primary" (click)="updateUser(item.username)" >Editar</button></td>
    <td><button class="btn btn-danger" (click)="deleteUser(item.username)" >Eliminar</button></td>
  </tr>
  </tbody>
</table>

<div *ngIf="editar" class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
  <form novalidate class="form-sigin" [formGroup]="formUpdate" (ngSubmit)="updateFinalUser()">
    <!-- User input -->
    <label class="form-label" >Nombre</label>
    <div class="form-outline mb-4">
      <input type="text" formControlName="name"  class="form-control form-control-lg"
             value='{{this.username_update.name}}' />
    </div>
    <label class="form-label" >Username</label>
    <div class="form-outline mb-4">
      <input type="text" formControlName="username"  class="form-control form-control-lg"
             value='{{this.username_update.username}}' />
    </div>
    <label class="form-label" >Password</label>
    <div class="form-outline mb-4">
      <input type="text" formControlName="password"  class="form-control form-control-lg"
             value='{{this.username_update.password}}' />
    </div>
    <label class="form-label" >Rol</label>
    <div class="form-outline mb-4">
      <select class="form-select" formControlName="rol" aria-label="Default select example">
        <option value="1">Administrador</option>
        <option value="2">Empleado</option>
      </select>
    </div>
    <div class="text-center text-lg-start mt-4 pt-2">
      <button  type="submit" class="btn btn-primary btn-lg">Actualizar</button>
    </div>
  </form>
</div>




